<div class="content">
  <header>
    <%= image_tag 'ssf-logo.png', class: 'logo' %>
  </header>
  <h1>We're launching soon...</h1>
  <p>
    <strong>Special Style Factory - Import and export of genuine JDM automotive products</strong><br>
    We are a new company for all your JDM automotive styling products!
  </p>
  <p>
    Our webshop will launch soon. If you want to stay informed, please consider to follow us Instagram and like us on Facebook!
  </p>
  <p>
    <%= link_to "Instagram", 'http://www.instagram.com/specialstylefactory', class: 'btn btn-primary', target: :blank %>
    <%= link_to "Facebook", 'http://www.facebook.com/specialstylefactory', class: 'btn btn-success', target: :blank %>
  </p>
</div>

